<%- include("templates/header") %> 
    <h1>Cats</h1>

    <div class="row mb-3 text-center" style="
    background-color: rgb(255, 255, 255);
">
      <div class="col-sm-4 themed-grid-col"><img class="img-fluid" src="/fluffy.gif"></div>
      <div class="col-sm-4 themed-grid-col"><img class="img-fluid" src="/socks.gif"></div>
      <div class="col-sm-4 themed-grid-col"><img class="img-fluid" src="/fluffy.gif"></div>
    </div>

<%- include("templates/footer") %> 